.sc-ion-card-md-h {
  background: white;
}

.progress {
  height: 60px;
  border-radius: 15px;
  position: relative;
}

.progress-bar {
  border-radius: 15px;
}

.row {
  margin: 15px 0;
}

.attendance {
  margin-top: 30px;
}

.row:nth-child(n + 1) {
  .progress-bar {
    background: var(--progress-color-blue);
  }
}

.row:nth-child(n + 2) {
  .progress-bar {
    background: var(--progress-color-yellow);
  }
}
.row:nth-child(n + 3) {
  .progress-bar {
    background: var(--progress-color-green);
  }
}

.row:nth-child(n + 4) {
  .progress-bar {
    background: var(--progress-color-red);
  }
}

.textComp {
  position: absolute;
  color: black;
  font-size: 25px;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.font {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
