<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card class="ion-no-padding" *ngIf="selectedSubject.name === '' ">
    <ion-grid no-padding>
      <ion-row
        class="row align"
        *ngFor="let subject of subjects"
        (click)="selectSubject(subject.name)"
      >
        <ion-col class="progress ion-no-padding">
          <div class="progress-bar" [style.width]="subject.attendance"></div>
          <div class="textComp">
            {{subject.name}}
          </div>
        </ion-col>
        <ion-col size="2" class="ion-text-center font">
          {{subject.attendance}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="selectedSubject.name !== '' ">
    <ion-grid no-padding>
      <ion-row class="row align" (click)="clear()">
        <ion-col class="progress ion-no-padding">
          <div
            class="progress-bar"
            [style.width]="selectedSubject.attendance"
          ></div>
          <div class="textComp">
            {{selectedSubject.name}}
          </div>
        </ion-col>
        <ion-col size="2" class="ion-text-center font">
          {{selectedSubject.attendance}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Month</ion-label>
            <ion-select
              placeholder="Select Month"
              interface="popover"
              [(ngModel)]="month"
            >
              <ion-select-option value="nov">Nov</ion-select-option>
              <ion-select-option value="dec">Dec</ion-select-option>
              <ion-select-option value="jan">Jan</ion-select-option>
              <ion-select-option value="feb">Feb</ion-select-option>
              <ion-select-option value="mar">Mar</ion-select-option>
              <ion-select-option value="apr">Apr</ion-select-option>
              <ion-select-option value="may">May</ion-select-option>
              <ion-select-option value="jun">Jun</ion-select-option>
              <ion-select-option value="jul">Jul</ion-select-option>
              <ion-select-option value="sept">Sept</ion-select-option>
              <ion-select-option value="oct">Oct</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="attendance">
        <ion-col>
          <ion-img src="assets/calender.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
