<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Important Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateBack()" fill="clear">Back </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-grid no-padding *ngIf="selectedSubject.name === '' ">
    <ion-row>
      <ion-col>
        <ion-card (click)="selectSubject('Physics')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/physics.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Physics
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-card (click)="selectSubject('Programming')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/prog.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Programming
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="selectSubject('Mathematics')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/maths.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Mathematics
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-card (click)="selectSubject('Chemistry')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/chemistry.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Chemistry
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="selectedSubject.name !== '' ">
    <ion-card (click)="clear()">
      <ion-card-header>
        <ion-card-title>
          <ion-row>
            <ion-col>
              <ion-text color="primary">
                {{selectedSubject.name}}
              </ion-text>
            </ion-col>
            <ion-col size="auto">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header class="ion-no-padding">
        <ion-segment [(ngModel)]="displayList">
          <ion-segment-button value="notes">
            Notes
          </ion-segment-button>
          <ion-segment-button value="attachments">
            Attachments
          </ion-segment-button>
        </ion-segment>
      </ion-card-header>
      <ion-card-content [ngSwitch]="displayList" class="ion-no-padding">
        <ion-list *ngSwitchCase="'notes'">
          <ion-item *ngFor="let note of selectedSubject.notes">
            <ion-grid no-padding>
              <ion-row>
                <ion-col size="8">
                  {{note.title}}
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                  <ion-text style="color: red">
                    {{note.date}}
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'attachments'">
          <ion-item *ngFor="let attachment of selectedSubject.attachments">
            <ion-grid no-padding>
              <ion-row style="align-items: center; vertical-align: middle">
                <ion-col size="auto">
                  <ion-icon
                    color="primary"
                    size="large"
                    name="document"
                  ></ion-icon>
                </ion-col>
                <ion-col>
                  {{attachment.title}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
