<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-grid no-padding>
    <ion-row>
      <ion-col [routerDirection]="'forward'" [routerLink]="['/'+'attendance']">
        <ion-card>
          <ion-card-content>
            <ion-img src="/assets/lecture-logo.PNG"></ion-img>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Attendance
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col [routerDirection]="'forward'" [routerLink]="['/'+'course']">
        <ion-card>
          <ion-card-content>
            <ion-img src="/assets/course-logo.PNG"></ion-img>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Course
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [routerDirection]="'forward'" [routerLink]="['/'+'lecture']">
        <ion-card>
          <ion-card-content>
            <ion-img src="/assets/Attendace-logo.PNG"></ion-img>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Lectures
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col
        [routerDirection]="'forward'"
        [routerLink]="['/'+'important-notes']"
      >
        <ion-card>
          <ion-card-content>
            <ion-img src="/assets/important-logo.PNG"></ion-img>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Important Notes
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
