<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Course</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateBack()" fill="clear">Back </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-grid no-padding *ngIf="selectedSubject.name === '' ">
    <ion-row>
      <ion-col>
        <ion-card (click)="selectSubject('Physics')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/physics.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Physics
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-card (click)="selectSubject('Programming')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/prog.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Programming
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="selectSubject('Mathematics')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/maths.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Mathematics
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-card (click)="selectSubject('Chemistry')" class="subject">
          <ion-card-header>
            <ion-img src="/assets/chemistry.png"></ion-img>
          </ion-card-header>
        </ion-card>
        <ion-row>
          <ion-col class="ion-text-center">
            Chemistry
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="selectedSubject.name !== '' ">
    <ion-card (click)="clear()">
      <ion-card-header>
        <ion-card-title>
          <ion-row>
            <ion-col>
              <ion-text color="primary">
                {{selectedSubject.name}}
              </ion-text>
            </ion-col>
            <ion-col size="auto">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-card-subtitle>{{selectedSubject.prof}}</ion-card-subtitle>
        <ion-card-subtitle
          >Room No. {{selectedSubject.roomNo}}</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-text color="primary">
            Syllabus
          </ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img
          style="height: 110px ; width : 110px"
          src="/assets/note.png"
          (click)="openPdf()"
        ></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-text color="primary">
            Assignments
          </ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item
            *ngFor="let assignment of selectedSubject.assignments "
            (click)="showAssignment(assignment)"
          >
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col>
                  <ion-text style="font-size: 20px">
                    {{assignment.title}}
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h3>
                    {{assignment.description}}
                  </h3>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
